@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

//vars

$ivory: #fffff0;
$cream: #fffdd0;
$blood: #8a0000;
$blue: #001b6b;

$title-font: "Alata", sans-serif;
$body-font: "Volkhov", serif;

// BS5
$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

// global styles

// * {
//   background-color: white;
//   color: black;
// }

body {
  margin-bottom: 5rem;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font;
  font-weight: bold;
}

p,
label,
input,
form {
  font-family: $body-font;
  font-size: medium;
}

.btn {
  font-family: $title-font;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.4em 0.3em auto 0.3em;
}

.section-head {
  margin: 2rem auto 1rem auto;
}

p.breaker {
  text-align: center;
  margin: 1rem;
  color: $blood;
}

a {
  text-decoration: none;
  color: $cream;
  display: inline-block;
}

a:visited {
  color: $blue;
}

a:hover {
  text-decoration: line-through;
  color: $blue;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: $title-font;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.6em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  // border: 1px solid #ccc;
  // border-radius: 3px;
}

input,
select {
  background-color: white;
  color: black;
  border: $blue 2px dashed;
}

input:focus-within {
  background-color: $blue;
  color: $ivory;
  border: none;
}

input:focus {
  outline: none;
}

input.dark,
select.dark {
  background-color: black;
  color: $ivory;
  border: $blood 2px dashed;
}

input.dark:focus-within {
  background-color: $blood;
  border: none;
}

input.dark:focus {
  outline: none;
}

button {
  font-size: larger;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 2px solid $blood;
  border-radius: 5px;
  color: $blood;
  background-color: white;

  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, $blood 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

button:hover {
  background-position: 0 -100%;
  color: $ivory;

  // animation-name: blood-btn-flash;
  // animation-duration: 0.5s;
  // animation-timing-function: cubic-bezier();
}

@keyframes blood-btn-flash {
  0% {
    color: $blood;
    background-color: white;
  }
  100% {
    color: $ivory;
    background-color: $blood;
  }
}

button.dark {
  border: 2px solid $cream;
  color: $cream;
  background-color: black;

  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, black 50%, $cream 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

button.dark:hover {
  background-position: 0 -100%;
  color: black;

  // animation-name: dark-btn-flash;
  // animation-duration: 0.5s;
  // animation-timing-function: cubic-bezier();
}

@keyframes dark-btn-flash {
  0% {
    color: $cream;
    background-color: black;
  }
  100% {
    color: black;
    background-color: $cream;
  }
}

hr {
  color: $blue;
}

.pricingLink {
  color: $blue;
}

.pricingLink:hover {
  text-decoration: underline;
}

.pricingLink.dark {
  color: gold;
  -webkit-animation: glow 2s ease-out infinite alternate;
  -moz-animation: glow 2s ease-out infinite alternate;
  animation: glow 2s ease-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #ffeb7f, 0 0 3px #ffeb7f, 0 0 2px gold, 0 0 5px gold, 0 0 7px gold, 0 0 8px gold, 0 0 3px gold;
  }
  to {
    text-shadow: 0 0 2x #ffeb7f, 0 0 4px #ffeb7f, 0 0 3px gold, 0 0 5px gold, 0 0 4px gold, 0 0 3px gold, 0 0 1px gold;
  }
}

.pageNav {
  color: $cream;
  margin-right: 1rem;
}
